.logo {
    border-radius: 5rem;
    max-width: 20rem;
}

.homeHeroContainer {
    min-height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8rem;
    color: #fff;
    z-index: 2;
}

.ngoDetails {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    max-width: 90rem;
    padding: 0 4rem;
}

.ngoDetails h1{
    font-size: 4rem;
    font-weight: 500;
}

.ngoDetails p{
    font-size: 1.5rem;
    font-weight: 300;
    text-align: justify;
}

.aboutContent {
    text-align: justify;
}

.namePersonnel {
    color: black;
    font-weight: 600;
}