/* Global styles for team grid and team items */
.team {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 equal columns on larger screens */
    gap: 1rem; /* Space between items */
    margin: 5rem 0;
    width: 100%;
}
.team-item {
    background-color: #f0f0f0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}
.team-item img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* Home Hero Section */
.homeHero, .styleItHero {
    position: relative;
    width: 100%;
    min-height: 45rem;
    padding: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.homeHero {
    background-image: url('../Images/von.kra-autosave.png');
}
.styleItHero {
    background-image: url('../Images/1x1.jpg');

}
.homeHero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background-color: #c8a2c8; */
    z-index: 1; /* Overlay */
    opacity: 0.7;
}
.homeHeroContainer {
    min-height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    color: #fff;
    margin: 7.5rem 0;
    z-index: 2;
}
.homeHero h1 {
    font-size: 6rem;
    text-align: center;
    color: #8a0d9e;
    -webkit-text-stroke: 1px #544894;
    background-color: #c8a2c86c;
    /* text-shadow: 0px 0px 15px #f89ec0; */
}
.homeHero p {
    font-size: 3rem;
    font-weight: 400;
    text-align: center;
    color: #ffd700;
}
.homeHero button {
    background-color: #f0f0f0;
    border: 3px solid #000;
    border-radius: 1.5625rem;
    font-size: 1.25rem;
    padding: 0.5rem 2.5rem;
}
.heroButtonPair {
    display: flex;
    flex-direction: row;
    gap: 10rem;
}

/* Home About Section */
.homeAbout, .styleItAbout {
    position: relative;
    width: 100%;
    padding: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.homeAbout {
    background-image: url('../Images/habout.jpg');
}
.styleItAbout {
    background-image: url('../Images/bg.png');
}
.homeAbout::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 1;
    opacity: 0.9;
}
.homeAboutContainer {
    min-height: fit-content;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;
    color: #fff;
    margin: 7.5rem 0;
    z-index: 2;
}
.homeAboutContainer h1 {
    color: #000;
    font-size: 4rem;
    align-self: center;
}
.homeAboutContainer p {
    font-size: 2rem;
    font-weight: 300;
    color: #000;
}
.homeAboutContainer button {
    background-color: #f0f0f0;
    border: 3px solid #000;
    border-radius: 1.5625rem;
    font-size: 1.25rem;
    padding: 0.5rem 2.5rem;
}
.styleItHeroText {
    font-size: 2rem ;
    font-weight: 500 ;
    color: #151515 ;
}
.styleIt {
    width: 100%;
    min-height: 50rem;
    padding: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('../Images/1x1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.styleItCol {
    color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}
.styleItCol h1 {
    font-size: 5rem;
}
.styleItCol p {
    font-size: 2rem;
}
.styleItCol button {
    border: 4px solid #000;
    border-radius: 1rem;
    background-color: transparent;
    font-size: 2rem;
    padding: 1rem 3rem;
    box-shadow: 0px 5px 5px #000;
}
.styleItImg {
    max-width: 50%;
    border-radius: 2rem;
}
/* Passions Section */
.passions {
    padding: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.passionsContainer {
    min-height: fit-content;
    max-width: 100%;
    padding-top: 5rem;
}
.passionsContainer h1 {
    font-size: 4rem;
    font-weight: 400;
    text-align: center;
    margin-bottom: 5rem;
}

/* Home Events Section */
.homeEvents {
    padding: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.homeEvents #event {
    width: 100%;
}

/* ----------------------------------- */
/* Responsive Media Queries */
/* ----------------------------------- */

/* For devices with a max-width of 992px (tablets and smaller laptops) */
@media (max-width: 992px) {
    .homeHero {
        padding: 3rem;
    }
    .homeHero h1 {
        font-size: 3rem;
    }
    .homeHero p {
        font-size: 1.5rem;
    }
    .heroButtonPair {
        gap: 5rem;
    }
    .homeAbout {
        padding: 3rem;
    }
    .homeAboutContainer h1 {
        font-size: 3rem;
    }
    .homeAboutContainer p {
        font-size: 2rem;
    }
    .passionsContainer h1,
    .homeEventsContainer h1 {
        font-size: 3rem;
    }
    .team {
        grid-template-columns: repeat(2, 1fr); /* 2 columns for smaller screens */
    }
}

/* For devices with a max-width of 768px (landscape phones and small tablets) */
@media (max-width: 768px) {
    .heroButtonPair {
        flex-direction: column;
        gap: 2rem;
    }
    .homeHero h1 {
        font-size: 2.5rem;
    }
    .homeHero p {
        font-size: 1.25rem !important;
    }
    .homeAboutContainer h1 {
        font-size: 2.5rem;
    }
    .homeAboutContainer p {
        font-size: 1.75rem;
    }
    .passionsContainer h1,
    .homeEventsContainer h1 {
        font-size: 2.5rem;
    }
    .team {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* For devices with a max-width of 576px (phones) */
@media (max-width: 576px) {
    .homeHero {
        padding: 2rem;
    }
    .homeHero , .styleItHero {
        min-height: 15rem;
    }
    .homeHeroContainer {
        margin: 3rem 0;
    }
    .homeHero h1 {
        font-size: 4rem;
    }
    .homeHero p {
        font-size: 1rem !important;
    }
    .heroButtonPair {
        gap: 1.5rem;
    }
    .homeAbout {
        padding: 2rem;
    }
    .homeAboutContainer {
        margin: 3rem 0;
        padding: 0 1rem;
    }
    .homeAboutContainer h1 {
        font-size: 2rem;
    }
    .homeAboutContainer p {
        font-size: 1.5rem;
    }
    .passions,
    .homeEvents {
        padding: 2rem;
    }
    .passionsContainer,
    .homeEventsContainer {
        padding-top: 2rem;
        align-items: center;
    }
    .passionsContainer h1,
    .homeEventsContainer h1 {
        font-size: 2rem;
    }
    .team {
        grid-template-columns: 1fr; /* Stack items on very small screens */
    }
    .styleItCol h1 {
        font-size: 2rem;
    }
    .styleItCol p {
        font-size: 1rem;
    }
    .styleItCol button {
        border: 2px solid #000;
        border-radius: .5rem;
        font-size: 1rem;
        padding: 1rem 3rem;
    }.styleItImg {
        width: 100%;
    }
    .styleItContainerRow {
        display: flex;
        flex-direction: column;
        gap: 4rem;
    }
}
