.heroSection {
    width: 100%;
    min-height: 400px;
    max-height: 30rem;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.heroOverlay {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10rem;
}
.heroOverlay p {
    font-size: 1.2rem;
    margin-bottom: 1rem;
    width: 50%;
    text-align: end;
}